<div class="panel panel-primary">
  <div class="panel-heading">Welcome</div>
  <div class="panel-body">
    <h1>Apps Rails</h1>
    <p><%= time_now %></p>
  </div>
  <div class="panel-footer">Teste</div>
</div>