<div class="panel panel-primary">
  <div class="panel-heading"><%= t 'mensages.welcome' %></div>
  <div class="panel-body">
    <h1><%= t 'mensages.welcome_user' %></h1>
  </div>
  <div class="panel-footer"><%= time_now %></div>
</div>